{include file="public/header"}
<body>
<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1aa094;">
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <div class="admin-login-box">
                <a class="logo" style="left: 0;" href="index.html">
                    <span style="font-size: 22px;">BeginnerAdmin</span>
                </a>
                <div class="admin-side-toggle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="admin-side-full">
                    <i class="fa fa-life-bouy" aria-hidden="true"></i>
                </div>
            </div>
            {include file="public/nav"}
        </div>
    </div>
    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side">
            <!--layui-nav layui-nav-tree beg-navbar-->
            <!--<ul class="layui-nav layui-nav-tree beg-navbar" >-->
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <!--<li class="layui-nav-item layui-nav-itemed">-->
                    <!--<a href="javascript:;">默认展开</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="javascript:;">选项1</a></dd>-->
                        <!--<dd><a href="javascript:;">选项2</a></dd>-->
                        <!--<dd><a href="">跳转</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item">-->
                    <!--<a href="javascript:;">解决方案</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="">移动模块</a></dd>-->
                        <!--<dd><a href="">后台模版</a></dd>-->
                        <!--<dd><a href="">电商平台</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item"><a href="">产品</a></li>-->
                <!--<li class="layui-nav-item"><a href="">大数据</a></li>-->
            <!--</ul>-->
        </div>
    </div>
    <div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <i class="fa fa-dashboard" aria-hidden="true"></i>
                    <cite>控制面板</cite>
                </li>
            </ul>
            <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
                <div class="layui-tab-item layui-show">
                    <iframe src=""></iframe>
                </div>
            </div>
        </div>
    </div>
    {include file="public/footer"}