
{include file="public/header"/}
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">藏</h1>
            </div>
            <h3>CangBa Club</h3>

            <form class="m-t" role="form" >
                <div class="form-group">
                    <input type="text" name="user_name" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="user_pwd" class="form-control" placeholder="密码" required="">
                </div>
                <button type="button" class="btn btn-primary block full-width m-b">登 录</button>

            </form>
        </div>
    </div>
    <script src="PUBLIC_PATH/js/jquery.min.js?v=2.1.4"></script>
    <script src="PUBLIC_PATH/js/bootstrap.min.js?v=3.3.5"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
    <script type="text/javascript">
        var submit_btn=$('button[type="button"]');
        submit_btn.on('click',function () {
            var user_name=$('input[name="user_name"]').val();
            var user_pwd=$('input[name="user_pwd"]').val();

            if(user_name==''){
                alert("用户名不能为空");
                return false;
            }
            if(user_pwd==''){
                alert('密码不能为空');
                return false;
            }
            $.ajax({
                url:"{:url('Index/login')}",
                data:{
                    'user_name':user_name,
                    'user_pwd':user_pwd
                },
                dataType:"json",
                type:'post',
                success:function (res) {
                    alert(res.msg)
                }
            })
        })
    </script>
</body>
</html>
