<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>登录</title>
		<link rel="stylesheet" href="_PUBLIC_ADMIN_/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="_PUBLIC_ADMIN_/css/login.css" />
	</head>

	<body class="beg-login-bg">
		<div class="beg-login-box">
			<header>
				<h1>后台登录</h1>
			</header>
			<div class="beg-login-main">
				<div  class="layui-form">
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
						<input type="text" name="userName" autocomplete="off" placeholder="这里输入登录名" class="layui-input">
					</div>
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
						<input type="password" name="password" autocomplete="off" placeholder="这里输入密码" class="layui-input">
					</div>
					<div class="layui-form-item">

						<div class="beg-pull-right">
							<button class="layui-btn layui-btn-primary" id="doLogin">
                            登录
                        </button>
						</div>
						<div class="beg-clear"></div>
					</div>
				</div>
			</div>
			<footer>
				<p>Bruce @www.cangba.club</p>
			</footer>
		</div>
		<script type="text/javascript" src="_PUBLIC_ADMIN_/plugins/layui/layui.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script>

			$(function () {
				layui.use('layer', function(){
					var layer = layui.layer;
					$("#doLogin").on('click',function () {
						var userName=$("input[name='userName']").val();
						var pwd=$("input[name='password']").val();
						if(!userName){
							layer.msg("请输入用户名");return;
						}
						if(!pwd){
							layer.msg("请输入密码");
						}
						$.ajax({
							url : "/admin/Login/doLogin",
							type : "POST",
							data : {'userName':userName,'pwd':pwd},
							dataType:'json',
							success : function(data) {
								var res=eval('('+data+')');
								if(res.error_id==0){
									window.location.href="/admin/index/index";
								}else{
									layer.msg(res.msg)
								}
							}

						});
					})
				});
			})

		</script>
	</body>

</html>