
    <div class="col-md-2">
        <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
            <li class="active">
                <a href="#">
                    <i class="glyphicon glyphicon-th-large"></i>
                    首页
                </a>
            </li>
            <li>
                <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
                    系统管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                    <li><a href="{:U('Admin/Index')}"><i class="glyphicon glyphicon-user"></i><span>用户管理</span></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-th-list"></i><span>菜单管理</span></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i><span>角色管理</span></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-edit"></i><span>修改密码</span></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i><span>日志查看</span></a></li>
                </ul>
            </li>
            <li>
                <a href="./plans.html">
                    <i class="glyphicon glyphicon-credit-card"></i>
                    物料管理
                </a>
            </li>

            <li>
                <a href="./grid.html">
                    <i class="glyphicon glyphicon-globe"></i>
                    分发配置
                    <span class="label label-warning pull-right">5</span>
                </a>
            </li>

            <li>
                <a href="./charts.html">
                    <i class="glyphicon glyphicon-calendar"></i>
                    图表统计
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-fire"></i>
                    关于系统
                </a>
            </li>

        </ul>
    </div>
    <script>
//        $(".nav-header").addEventListener('click',function(){
//            if(true){
//                $(this).children('span').removeClass('glyphicon-chevron-down');
//                $(this).children('span').addClass('glyphicon-chevron-up');
//            }else{
//                $(this).children('span').addClass('glyphicon-chevron-down');
//                $(this).children('span').removeClass('glyphicon-chevron-up');
//            }
//        });
    </script>