<!-- popup, panel 等放在这里 -->
<div class="panel-overlay"></div>
<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
    <div class="content-block">
        <p>商品分类</p>
        <p></p>
        <!-- Click on link with "close-panel" class will close panel -->
        <p><a href="http://www.ylfcf.com" class="item-link">第一套</a></p>
        <p><a href="#" class="item-link">第一套</a></p>
        <p><a href="#" class="item-link">第一套</a></p>
        <p><a href="#" class="close-panel">关闭</a></p>
    </div>
    <!--<div class="page page-current">-->
        <!--<div class="content-inner">-->
            <!--<div class="content-block-title">商品分类</div>-->
            <!--<div class="list-block">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="/demos/bar" class="item-link item-content">-->
                            <!--<div class="item-inner">-->
                                <!--<div class="item-title">标题栏和工具栏</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/demos/list" class="item-link item-content">-->
                            <!--<div class="item-inner">-->
                                <!--<div class="item-title">列表</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>