{include file="public/header"}
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-nav">
            <!--<a class="icon pull-left"></a>-->
            <h1 class="title">分类</h1>
        </header>
        <div class="bar" style="top: 30px;right:0;left:0;position:absolute;z-index: 10;border-top-color:#eee;">
            <a class="icon icon-message pull-left">公告:</a>
            <a class="title" href="#">查看我的我而我方均为ofo阿文哥和...</a>
        </div>
        {include file="public/nav"}
        <div class="content" style="top:3.2rem">
            <div class="content-block-title">Facebook卡片</div>
            <div class="card facebook-card">
                <div class="card-header no-border">
                    <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
                    <div class="facebook-name">夜萧</div>
                    <div class="facebook-date">星期一 3:47pm</div>
                </div>
                <div class="card-content"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="100%"></div>
                <div class="card-footer no-border">
                    <a href="#" class="link">赞</a>
                    <a href="#" class="link">评论</a>
                    <a href="#" class="link">分享</a>
                </div>
            </div>
            <div class="content-block-title">Facebook卡片</div>
            <div class="card facebook-card">
                <div class="card-header no-border">
                    <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
                    <div class="facebook-name">夜萧</div>
                    <div class="facebook-date">星期一 3:47pm</div>
                </div>
                <div class="card-content"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="100%"></div>
                <div class="card-footer no-border">
                    <a href="#" class="link">赞</a>
                    <a href="#" class="link">评论</a>
                    <a href="#" class="link">分享</a>
                </div>
            </div>
        </div>


    </div>
</div>
{include file="public/footer"}
<!-- 默认必须要执行$.init(),实际业务里一般不会在HTML文档里执行，通常是在业务页面代码的最后执行 -->
<script>$.init()</script>